{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": ["components", "pages", "public"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
